<div _style="display:inline" id="spark-login" ></div>

<div>
    <label>Search: <input ng-model="searchText"></label>
</div>

<div ng-repeat="device in devices | filter:filterDevices">
    <h3>{{device.name}} <span ng-show="device.updatingVariables">(Reading)</span> <span ng-show="device.timeout">(Timeout)</span></h3>
    <div>
        <h4>Variables</h4>
        <div ng-repeat="(key,value) in device.variables">
            {{key}} = {{device.variableValues[key]}}
        </div>
    </div>
    <div>
        <h4>Functions</h4>
        <div ng-repeat="func in device.functions">
            {{func}} : <input type="text" ng-model="device.functionCalls[func]">
            <button ng-click="callFunction(device,func)">Call</button>
            Last response: <span>{{device.functionResponses[func]}}</span>
        </div>
    </div>
   <!--
    <div>
        <input type="checkbox" ng-model="device.sendSignalCommand" ng-change="sendSignalToDevice(device)" />
    </div>
    -->
</div>