<div _style="display:inline" id="spark-login" ></div>
<br/>
<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="searchText" style="text-align:left" class="col-md-1 control-label">Filter:</label>
      <div class="col-md-3">
        <input name="searchText" type="text" class="form-control" ng-model="searchText" placeholder="">
      </div>
    </div>
  </form>
</div>
<table class="table table-condensed table-striped">
  <tbody>
    <tr ng-repeat="device in devices | filter:filterDevices">
      <td>
        <a href="./#/device?access_token={{access_token}}&deviceid={{device.id}}">
          {{device.name}}
        </a>
      </td>
      <td class="text-right">
        <a href="./#/device?access_token={{access_token}}&deviceid={{device.id}}">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>